.hero-container {
    padding-top: 60px;
    position: relative;
    display: flex;
}

.hero-image-wrapper {
    min-width: 60%;
}

.hero-content {
    padding-left: 50px;
}

.post-title {
    font-family: 'Tenor Sans', sans-serif;
    margin: 15px 0 25px 0;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    font-weight: 400;
}

.post-category {
    font-family: 'Libre Franklin', sans-serif;
    color: #999;
    font-size: 10px;
    line-height: 12px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
}

.post-category:hover {
    text-decoration: underline;
}

.post-description {
    font-family: 'Source Serif Pro', sans-serif;
    font-weight: 400;
    color: #666;
    font-size: 16px;
    line-height: 24px;
}

.post-author {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 10px;
    line-height: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
}

.post-author:hover {
    text-decoration: underline;
}

.grid-hero {
    padding-left: 100px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    position: relative;
}

.grid__item--bg {
    grid-column: 2 / span 8;
    z-index: 0;
    grid-row: 1 / -1;
}

.grid__item--portrait-half {
    grid-column: 6 / span 4;
    z-index: 2;
    grid-row: 1 / -1;
    /*   clip-path: polygon(5% 10%, 27% 3%, 94% 25%, 84% 98%, 39% 98%, 11% 98%, 4% 66%, 4% 34%); */
}

.grid__item--portrait-neck {
    /*   clip-path: polygon(5% 3%, 96% 4%, 95% 95%, 6% 95%, 20% 30%); */
    grid-column: 5 / span 4;
    grid-row: 6 / 10;
    z-index: 3;
}

.grid__item--portrait-left {
    /*   clip-path: polygon(10% 19%, 93% 15%, 90% 88%, 13% 92%); */
    grid-column: 2 / span 4;
    grid-row: 7 / 12;
    z-index: 4;
}

.grid__item--portrait-eye {
    /*   clip-path: polygon(4% 13%, 84% 12%, 86% 34%, 80% 45%, 80% 76%, 10% 79%); */
    grid-column: 3 / span 2;
    grid-row: 3 / 5;
    z-index: 5;
    width: 82%;
    justify-self: end
}

.grid__item--portrait-shirt {
    /*   clip-path: polygon(3% 2%, 50% 25%, 97% 8%, 97% 97%, 3% 98%); */
    grid-column: 1 / span 2;
    grid-row: 9 / -1;
    z-index: 6;
    margin-left: -20px;
}

.grid__item--portrait-bg-1 {
    /*   clip-path: polygon(14% 13%, 84% 12%, 86% 34%, 90% 66%, 30% 76%, 10% 79%); */
    grid-column: 1 / span 2;
    grid-row: 1 / 4;
    z-index: 8;
    margin-top: -20px;
}

.grid__item--portrait-bg-2 {
    /*   clip-path: polygon(9% 4%, 80% 0%, 100% 100%, 0% 100%); */
    grid-column: 11 / -1;
    grid-row: 4 / 7;
    z-index: 8;
}

.grid__item--portrait-bg-3 {
    /*   clip-path: polygon(9% 4%, 80% 0%, 100% 100%, 0% 100%); */
    grid-column: 1 / span 4;
    grid-row: 4 / 7;
    z-index: 4;
}

.grid__item--portrait-bg-4 {
    /*   clip-path: polygon(5% 4%, 94% 3%, 97% 96%, 13% 96%); */
    grid-column: 10 / 12;
    grid-row: 1 / 6;
    z-index: 1;
}

@media only screen and (max-width: 600px) {
    .hero-container {
        flex-wrap: wrap;
    }

    .grid-hero {
        padding-left: 20px;
    }

    .hero-content {
        padding-left: 20px;
    }
}