.about {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    flex-flow: row-reverse;
}

.about .right {
    flex: 1 1 50%;
    padding: 30px;
}

.about .left {
    flex: 1 1 50%;
    margin-top: 60px;
}