.nav {
    display: flex;
    position: relative;
    max-height: 90px;
}

.nav-wrapper {
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 80px;
}

.nav-left {
    display: flex;
    justify-content: left;
    align-items: center;
    max-height: 100%;
}

.nav-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;  
}

.nav img {
    max-height: 70%;
    max-width: 100%;
}

.nav-item {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 600;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex: 1;
    max-width: 100px;
    position: relative;
    text-decoration: none;
}

.nav-item:visited {
    color: #000;
}

.nav-item::after {
    content: ' ';
    position: absolute;
    background-color: black;
    height: 2px;
    margin: auto;
    right: 0;
    left: 0;
    bottom: 0;
    width: 0;
    transition: 0.2s width;
}

.nav-item:hover::after, .nav-item:focus-within::after {
    width: 100%;
    transition-delay: 0.1s;
}

.logo-text {
    font-weight: 800;
    font-family: 'Libre Franklin', sans-serif;
    color: #000;
    text-decoration: none;
    text-transform: capitalize;
}
