.post-view h3, .post-view p {
    font-family: "Source Serif Pro", sans-serif;
}

.text-container {
    margin: 40px 0;
    width: 70%;
    font-size: 18px;
    line-height: 30px;
}

.text-container a {
    color: #894343;
    font-weight: 600;
    text-decoration: underline;
}

.box {
    background-color: bisque;
    display: block;
    position: relative;
    width: 100%;
    height: 400px;
}

.face {
    width: 300px;
    height: 300px;
    display: block;
    position: absolute;
    margin: auto;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 20%;
    background-color: #FFDA58;
    border-radius: 100%;
    background-image: linear-gradient(#FFDA58 200px, transparent 40px), radial-gradient(32px at 50% 65%, red 0%, red 42px, #FFDA58, rgba(0, 0, 0, 0) 19px);
}

.face::before {
    content: ' ';
    background-color: black;
    display: block;
    position: absolute;
    top: 100px;
    left: 75px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.face::after {
    content: ' ';
    background-color:
            black;
    display: block;
    position: absolute;
    top: 100px;
    left: 185px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.wide-image-wrapper {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wide-image-wrapper img {
    max-height: 100%;
}
