.footer {
    height: 250px;
    background-color: #141414;
    padding: 90px 30px;
    color: #fff;
}

.footer-title {
    font-weight: 800;
    font-family: 'Libre Franklin', sans-serif;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 24px;
}

.footer-category-list {
    display: flex;
    flex-wrap: wrap;
}

.footer-list-item {
    flex: 1;
    min-width: 20%;
    max-width: 20%;
    font-family: "Libre Franklin", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
}

@media only screen and (max-width: 600px) {
    .footer-list-item {
        flex: 1 1 100%;
        min-width: 100%;
    }
}