.featured-posts {
    margin-top: -100px;
}

.featured-card-image {
    width: 330px;
    height: 210px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.featured-card .post-title {
    font-size: 20px;
    line-height: 24px;
}

.featured-posts-title {
    padding: 0 0 15px 0;
    display: block;
}

.featured-card img {
    max-height: 220px;
}

.button {
    padding: 20px 25px;
    margin: 90px auto;
    font-family: 'Libre Franklin', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: #fff;
    cursor: pointer;
    border: 1px solid #000;
    color: #000;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover, .button:focus {
    color: #fff;
    background-color: #000;
}

hr.separator {
    background-color: #4d4d4d;
    height: 1px;
    border: none;
    margin: 60px 0;
}

.footer-subtitle {
    font-family: 'Libre Franklin', sans-serif;
    color: #666;
    font-size: 10px;
    line-height: 12px;
    font-weight: 600;
    text-align: left;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.featured-card .post-title {
    margin: 15px 0 5px 0;
}

.featured-card {
    margin-bottom: 50px;
}

@media only screen and (max-width: 600px) {
    .featured-card-image {
        width: 100%;
    }
}