@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:400,600,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro&display=swap');

body, html {
  background-color: #FFFFFF;
  overflow-x: hidden;
}

.App {
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.column-4 {
  flex: 0 0 32%;
  padding-right: 20px;
}

.column-4:nth-of-type(3n) {
  padding-right: 0;
}

.column-3 {
  flex: 1;
  width: 25%;
  padding: 0 20px;
}

img {
  max-width: 100%;
  display: block;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}

a.post-category, a.post-category:visited {
  color: #999;
}

@media only screen and (max-width: 600px) {
  .column-4 {
    min-width: 89%;
  }

  .featured-posts.container {
    margin-top: 100px;
  }

  .column-4 {
    flex: 1 1 100%;
    min-width: 100%;
  }
}